body {
  background-color: #211D1D;
  color: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
}

.hotdog-list-block {
  text-align: center;
}

.hotdog-block {
  border: 2px solid #FEFEFE;
  border-radius: 7px;
  margin: 30px;
  padding: 10px;
  display: table;
  width: 90%;
}

.info-container {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  text-align: left;
}

.description, .price {
  margin-bottom: 15px;
}


.button-container {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}

.form-create-hotdogs {
  text-align: center;
  margin-bottom: 40px;
}

 label {
  margin-left: 10px;
}

 button {
   margin: 10px;
   padding: 10px 20px;
   cursor: pointer;
   border: 1px solid #D51086;
   border-radius: 4px;
   font: bold 15px arial;
   text-decoration: none;
   color: #ffffff;
   background-color: #D51086;
}


input {
  padding: 7px 7px;
  border-radius: 4px;
  margin-left: 10px;
}
